@{
  Layout="Shared/_Layout";
}

<h1>HAIR TODAY, GONE TOMORROW</h1>
<h2> A hair salon</h2>

<div class="container">
  <h4><a href="/stylists">View Stylists</a></h4>
  <h4><a href="/clients">View Clients</a></h4>
</div>
