@{
  Layout="Shared/_Layout";
}

<div class="container">
  <form action="/stylists/new" method="post">
    <label for="stylist-name">Stylist name</label>
    <input id="stylist-name" name="stylist-name" type="text">

    <label for="stylist-contact">Stylist contact</label>
    <input id="stylist-contact" name="stylist-contact" type="text">

    <label for="stylist-photolink">Stylist photolink</label>
    <input id="stylist-photolink" name="stylist-photolink" type="text">



    <button type="submit">Add</button>
  </form>
</div>
